<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter Passcode</h1>
    <% if (!user) { %>
    <h2>No user found</h2>
    <% } else { %>
    <form method="post" action="/auth">
        <label for="passcode">Passcode</label>
        <input type="text" name="passcode" id="passcode" placeholder="enter here" required />
        <button type="submit">Submit</button>
    </form>
    <% } %>
</body>
</html>